@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;
@use './../abstracts/font-faces' as *;

.advantages {
  color: $theme-light-grey-color;
  text-align: center;
  margin: 2em 0;

  &__title {
    font-size: 2.2em;
    font-weight: 300;
    letter-spacing: $standard-letter-spacing;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    padding: 2em 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    gap: 1em;

    &--3 .advantages__icon-container {
      background: $theme-green-color;
    }

    &--2 .advantages__icon-container {
      background: $theme-blue-color;
    }

    &--1 .advantages__icon-container {
      background: $theme-orange-color;
    }
  }

  &__icon {
    max-width: 40px;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .8em;
      width: 80px;
      height: 80px;
    }
  }

  &__text {
    font-size: 1.2em;
    font-weight: 300;
  }

  // TABLET
  @include response(tablet) {
    margin: 8em 0;

    &__list {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      padding-top: 6em;
      gap: initial;
    }
  }

  // DESKTOP
  @include response(desktop) {
    margin: 10em 0;

    &__list {
      padding-top: 8em;
    }

    &__card {
      max-width: 300px;
      gap: 3em;
    }

    &__icon {
      max-width: 60px;

      &-container {
        height: 120px;
        width: 120px;
      }
    }
  }
}