@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;
@use './../abstracts/font-faces' as *;

.heading {
  background: url('./../../src/images/banner/banner.png') bottom / cover no-repeat;

  // Navigation
  &__nav-container {
    background-color: $theme-grey-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__burger-container {
    display: flex;
    max-width: 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    font-size: 1.5em;
  }

  // Burger menu
  &__menu-list,
  &__btn {
    display: none;
  }

  &__burger-checkbox {
    display: none;
  }

  &__burger-checkbox:checked+.heading__menu-list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: $theme-grey-color;
  }

  &__menu-list-item {
    padding: 1em 0;
    transition: background-color 250ms ease-in-out;
    color: white;
  }

  &__menu-list-item:hover,
  &__menu-list-item:focus-visible {
    background-color: $theme-light-grey-color;
  }

  // Hero
  &__hero-message {
    color: white;
    letter-spacing: $standard-letter-spacing;
    padding: 40px 0;
  }

  &__hero-title {
    line-height: $title-txt-line-height;
    font-weight: 300;
    font-size: 2.5em;
    text-transform: capitalize;
    margin-bottom: .5em;
  }

  &__hero-text {
    color: rgba(255, 255, 255, 0.869);
  }

  &__hero-btn {
    color: inherit;
    letter-spacing: $button-letter-spacing;
    font-weight: 500;
    text-transform: capitalize;
    outline: none;
    border: none;
    background-color: $theme-seledyn-color;
    border-radius: .3em;
    padding: 1em 1.5em;
    margin: 3em 0;
    transition: scale 250ms ease-in-out;
    font-size: 1em;
  }

  &__hero-btn:hover,
  &__hero-btn:focus-visible {
    scale: 1.1;
  }

  &__hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // --BREAKPOINTS--

  // TABLET
  @include response(tablet) {

    // Hero
    &__hero-container {
      display: flex;
      justify-content: center;
      padding-top: 7em;
    }

    &__hero-message {
      padding: 0;
      max-width: 400px;
    }
  }

  // END OF TABLET

  // DESKTOP
  @include response(desktop) {

    // Navigation
    &__nav-container {
      background-color: transparent;
      padding-top: 15px;
    }

    &__logo {
      font-size: 1.8em;
    }

    &__menu-list,
    &__burger-checkbox:checked+.heading__menu-list,
    &__btn {
      display: flex;
    }

    &__menu-list,
    &__burger-checkbox:checked+.heading__menu-list {
      gap: 2em;
      position: static;
      background-color: transparent;
      width: initial;

      &-item {
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      &-item:hover,
      &-item:focus-visible {
        background-color: transparent;
      }

      &-item::after {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 250ms ease-in-out;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
      }

      &-item:hover::after {
        width: 105%;
      }
    }

    &__btn {
      border: none;
      outline: none;
      color: white;
      padding: 1em 1.5em;
      background-color: $theme-blue-color;
      border-radius: .3em;
      transition: all 250ms ease-in-out;
      font-size: .8em;
      letter-spacing: $button-letter-spacing;
    }

    &__btn:hover,
    &__btn:focus-visible {
      background-color: $theme-seledyn-color;
      border-radius: 1em;
    }

    &__burger-container {
      display: none;
    }

    // Hero
    &__hero-container {
      justify-content: space-between;
    }

    &__hero-message {
      padding-top: 10%;
      max-width: none;
    }

  }
}

// END OF DESKTOP