@use './../abstracts/font-faces' as *;
@use './../abstracts/mixins' as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
}

.row {
  width: 100%;
}

.container {
  width: 100%;

  @include response(desktop) {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.cell {
  min-height: 50px;
}