@use './variables' as *;

@each $weight, $name in $font-weights {
  @font-face {
    font-family: Poppins;
    src: url('./../fonts/Poppins-#{$name}.ttf');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}