// COLORS
$theme-grey-color: #2C2C2C;
$theme-light-grey-color: #565656;
$theme-super-light-grey-color: #FDFDFD;
$theme-blue-color: #5DB2FF;
$theme-seledyn-color: #37ebed;
$theme-orange-color: #fd905e;
$theme-green-color: #37ef8d;
$theme-dark-blue-color: #0181f5;
$theme-light-blue-color: #E9F4FE;
$theme-light-orange-color: #fef4ee;
$theme-light-green-color: #e8fcf1;
// END OF COLORS