@charset "UTF-8";
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("./../../src/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* we'll restore bullets as needed for content */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

td img {
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 1rem 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre-line;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

small {
  font-size: 0.8rem;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 0.8rem;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
}

ins {
  background-color: var(--highlight-color);
  color: #000;
  text-decoration: none;
}

mark {
  background-color: var(--highlight-color);
  color: #000;
  font-style: italic;
  font-weight: bold;
}

blockquote {
  padding: 2rem;
  border-left: 1px solid #333;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* https://css-tricks.com/snippets/css/clear-fix/ */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
/* ———— END THE GENERIC RESETS ———— */
html {
  scroll-behavior: smooth;
  font-size: 14px;
}
@media (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: Poppins, sans-serif;
}

button {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

.row {
  width: 100%;
}

.container {
  width: 100%;
}
@media (min-width: 1280px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.cell {
  min-height: 50px;
}

.heading {
  background: url("./../../src/images/banner/banner.png") bottom/cover no-repeat;
}
.heading__nav-container {
  background-color: #2C2C2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 1em;
  position: relative;
}
.heading__burger-container {
  display: flex;
  max-width: 50px;
}
.heading__logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: white;
  font-size: 1.5em;
}
.heading__menu-list, .heading__btn {
  display: none;
}
.heading__burger-checkbox {
  display: none;
}
.heading__burger-checkbox:checked + .heading__menu-list {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #2C2C2C;
}
.heading__menu-list-item {
  padding: 1em 0;
  transition: background-color 250ms ease-in-out;
  color: white;
}
.heading__menu-list-item:hover, .heading__menu-list-item:focus {
  background-color: #565656;
}
.heading__hero-message {
  color: white;
  letter-spacing: 0.07em;
  padding: 40px 20px;
}
.heading__hero-title {
  line-height: 1.1;
  font-weight: 300;
  font-size: 2.5em;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
.heading__hero-text {
  color: rgba(255, 255, 255, 0.869);
}
.heading__hero-btn {
  color: inherit;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: capitalize;
  outline: none;
  border: none;
  background-color: #37ebed;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  margin: 3em 0;
  transition: scale 250ms ease-in-out;
  font-size: 1em;
}
.heading__hero-btn:hover {
  scale: 1.1;
}
.heading__hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .heading__hero-container {
    display: flex;
    padding: 7em 5em 0 5em;
    justify-content: center;
  }
  .heading__hero-message {
    padding: 0;
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .heading__nav-container {
    background-color: transparent;
    padding-top: 15px;
  }
  .heading__logo {
    font-size: 1.8em;
  }
  .heading__menu-list, .heading__burger-checkbox:checked + .heading__menu-list, .heading__btn {
    display: flex;
  }
  .heading__menu-list, .heading__burger-checkbox:checked + .heading__menu-list {
    gap: 2em;
    position: static;
    background-color: transparent;
    width: initial;
  }
  .heading__menu-list-item, .heading__burger-checkbox:checked + .heading__menu-list-item {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .heading__menu-list-item:hover, .heading__menu-list-item:focus, .heading__burger-checkbox:checked + .heading__menu-list-item:hover, .heading__burger-checkbox:checked + .heading__menu-list-item:focus {
    background-color: transparent;
  }
  .heading__menu-list-item::after, .heading__burger-checkbox:checked + .heading__menu-list-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 250ms ease-in-out;
    bottom: 30%;
    left: 0;
  }
  .heading__menu-list-item:hover::after, .heading__burger-checkbox:checked + .heading__menu-list-item:hover::after {
    width: 105%;
  }
  .heading__btn {
    border: none;
    outline: none;
    color: white;
    padding: 1em 1.5em;
    background-color: #5DB2FF;
    border-radius: 0.3em;
    transition: all 250ms ease-in-out;
    font-size: 0.8em;
  }
  .heading__btn:hover, .heading__btn:focus {
    background-color: #37ebed;
    border-radius: 1em;
  }
  .heading__burger-container {
    display: none;
  }
  .heading__hero-container {
    padding: 7em 2em 0 2em;
    justify-content: space-between;
  }
  .heading__hero-message {
    padding-top: 10%;
    max-width: none;
  }
}

.advantages {
  color: #565656;
  text-align: center;
  margin: 2em 0;
}
.advantages__title {
  font-size: 2.2em;
  font-weight: 300;
  letter-spacing: 1px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
  padding: 2em 0;
}
.advantages__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  gap: 1em;
}
.advantages__card--3 .advantages__icon-container {
  background: #37ef8d;
}
.advantages__card--2 .advantages__icon-container {
  background: #5DB2FF;
}
.advantages__card--1 .advantages__icon-container {
  background: #fd905e;
}
.advantages__icon {
  max-width: 40px;
}
.advantages__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8em;
  width: 80px;
  height: 80px;
}
.advantages__text {
  font-size: 1.2em;
  font-weight: 300;
}
@media (min-width: 600px) {
  .advantages {
    margin: 8em 0;
  }
  .advantages__list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 6em;
    gap: initial;
  }
}
@media (min-width: 1280px) {
  .advantages {
    margin: 10em 0;
  }
  .advantages__list {
    padding-top: 8em;
  }
  .advantages__card {
    max-width: 300px;
    gap: 3em;
  }
  .advantages__icon {
    max-width: 60px;
  }
  .advantages__icon-container {
    height: 120px;
    width: 120px;
  }
}

/*# sourceMappingURL=main.css.map */
